    input[type=text]
{
    color: #7c7c7c;
    height: 25px;
    width: 700px;
    padding-left: 10px;

}
    a:link {
  color: white;
  background-color: transparent;
}
    .SizedBox50 {
      height: 50px; 
    }
    .SizedBox10 {
      height: 10px; 
    }
    
    .SizedBox85 {
      height: 85px; 
    }
    html {
  scroll-behavior: smooth;
 }
 
 a {
  font-size: 30px;
 } 
 